.titulo{
    font-weight: bold;
 }

 .sobreNos{
    justify-content: center !important;
    align-items: center !important;
    max-width: 60vw !important;
    margin: 0 auto !important;
 }

 .tab{
   background-color: #7F5539  !important;
 }

 .tabLink{
   cursor: pointer;
   text-decoration: none;
   color: black;
 }